---
import '../styles/globals.css';
import Head from '../layouts/allpages.astro';
---

<Head />
<body>
    <h1 class="get-started-text">
        Uh Oh! Looks Like there has been an error!<br />Please try again by
        refreshing this page
    </h1>
    <div id="pjs" class="dnone particles"></div>
</body>
<style>
    .get-started-text {
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        color: var(--text-color);
        font-family: var(--font);
    }
</style>
