---
import Modal from '../components/modal';
import Button from '../components/button.astro';
import Header from '../components/header.astro';
import '../styles/globals.css';
import Head from '../layouts/allpages.astro';
import Password from '../components/password';
---

<Head />
<body>
    <Header />
    <Password client:only="react" />
    <div class="get-started-div">
        <h1 class="get-started-text">Ruby</h1>
        <Button
            buttonId="get-started"
            secondButtonId="get-started-button"
            buttonText="Get Started"
        />
    </div>
    <Modal client:only="react" />
    <div id="pjs" class="dnone particles"></div>
    <p class="copy">&copy; Copyright 2023 Ruby Network, All Rights Reserved</p>
</body>

<style is:global>
    .get-started-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .get-started-text {
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
        color: var(--text-color);
        font-family: var(--font);
    }
     #get-started-button {
        font-size: 3rem;
        text-align: center;
        margin-top: 0.25rem;
        color: var(--text-color);
        font-family: var(--font);
        background: var(--bg-color);
        border-radius: 5%;
        filter: var(--brightness-filter);
        border-radius: 0.75rem;
    }
</style>
