---
import ButtonLink from './buttonLink.astro';
---

<header id="header">
    <div class="header-start"></div>
    <div class="header-center">
        <ButtonLink buttonLink="/" buttonText="Ruby" class="text-xl block" />
    </div>
    <div class="header-end"></div>
</header>
