<head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ALL METADATA -->
    <meta name="keywords" content="Ruby" />
    <meta name="author" content="Ruby Network" />
    <meta name="title" content="Ruby" />
    <meta
        name="description"
        content="Ruby (V2) is fast, sleek and customizable"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rubynetwork.tech/" />
    <meta property="og:title" content="Ruby" />
    <meta
        property="og:description"
        content="Ruby (V2) is fast, sleek and customizable"
    />
    <meta
        property="og:image"
        content="https://user-images.githubusercontent.com/73721704/210157935-6aa8ec46-6fa4-4dd5-956f-6bfe351de42c.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rubynetwork.tech" />
    <meta property="twitter:title" content="Ruby" />
    <meta
        property="twitter:description"
        content="Ruby (V2) is fast, sleek and customizable"
    />
    <meta
        property="twitter:image"
        content="https://user-images.githubusercontent.com/73721704/210157935-6aa8ec46-6fa4-4dd5-956f-6bfe351de42c.png"
    />
    <!-- END METADATA -->
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link id="favicon" rel="icon" href="/favicon.ico" />
    <title>Ruby</title>
    <script src="/js/settings.js" defer></script>
    <script src="/js/lib/particles/particles.min.js" defer></script>
    <script src="/js/particles.js" defer></script>
    <script src="/js/register.js" defer></script>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="/apple-touch-icon-57x57.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="/apple-touch-icon-72x72.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="/apple-touch-icon-76x76.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="114x114"
        href="/apple-touch-icon-114x114.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="120x120"
        href="/apple-touch-icon-120x120.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="144x144"
        href="/apple-touch-icon-144x144.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="152x152"
        href="/apple-touch-icon-152x152.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/apple-touch-icon-180x180.png"
    />
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />
    <script async src="https://arc.io/widget.min.js#S55qwksB"></script>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4c8e51b204b048f98a90125e8950dd6e"}' defer></script>
    <!-- End Cloudflare Web Analytics -->
</head>
